[submodule "source/submodules/utils"]
	path = source/submodules/utils
	url = https://github.com/fpuma/UtilsLibrary.git
[submodule "sharpmake/sharpmakeutils"]
	path = sharpmake/sharpmakeutils
	url = https://github.com/fpuma/SharpmakeUtils.git
